* {
  font-family: Arial, Helvetica, sans-serif;
}
div#container-wrapper{
  background-color: white;
  border-radius: 1em;
  box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.597);
  margin-top: 50px;
  text-align:center;
  min-width: 100vh;
  padding: 1em;
}

body {
  background-color: #5E686E;
}

main {
  max-width: 100vh;
  min-height: 100vh;
  display: grid;
  margin: auto;
  place-items: center;
}


.review {
  text-align: center;
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;
}

#img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0.391);
}
#img-container {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}


div h3#name {
  font-size: 1.4em;
  margin-bottom: 0.7em;
  
}

div p#job {
  font-size: 0.9em;
  margin-bottom: 0.5rem;
  font-style: italic;
  text-transform: uppercase;
  color: #94DAFF;
}

div p#description {
  font-size: 1.1em;
}

h3, p {
  line-height: 1.25;
}

button {
  background-color: transparent;
  width: 15vh;
  height: 30px;
  border: 0;
  font-size: 1.25rem;
  color: #94DAFF;
  border-radius: 10px;
}
h1 {
  font-size: 2em;
  font-weight: bold;
 
}

button:hover {
  cursor: pointer;
  transition: linear 0.3s;
  background-color: #94DAFF;
  color: white;
  
}

#random {
  background-color: #1E506B;
  color: white;
}

#random:hover {
  color: white;
  background-color: #5E686E;
}